<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>API_KEY</key>
    <string>placeholder-key</string>
    <key>CLIENT_ID</key>
    <string>placeholder-client-id</string>
    <key>GCM_SENDER_ID</key>
    <string>000000000000</string>
    <key>GOOGLE_APP_ID</key>
    <string>1:000000000000:ios:placeholder</string>
    <key>PROJECT_ID</key>
    <string>placeholder-ios-project</string>
    <key>STORAGE_BUCKET</key>
    <string>placeholder-ios-project.appspot.com</string>
</dict>
</plist>
