<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051357763141-7seqsap5n89vphrf908aj0v9bhq0brpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051357763141-7seqsap5n89vphrf908aj0v9bhq0brpl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1051357763141-6agfs69l9gq9esecfla1ibgr9j13rv7d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDXuQ5iZU1aqLqk6nANVJPuLUprL9xZFEw</string>
	<key>GCM_SENDER_ID</key>
	<string>1051357763141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.choicecrafter.students</string>
	<key>PROJECT_ID</key>
	<string>fir-64cfc</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-64cfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051357763141:ios:635aaf4f0eb0b46df9752c</string>
	<key>DATABASE_URL</key>
	<string>https://fir-64cfc.firebaseio.com</string>
</dict>
</plist>